<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ today | date }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ today | date }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col sizeXs="12" style="text-align: center;">
        <ion-label >Comienzo Turno</ion-label>
        <h1>{{ entry.start | date:'shortTime' }}</h1>
      </ion-col>
      <ion-col sizeXs="12" style="text-align: center;">
        <ion-label>Comienzo Colación</ion-label>
        <h1>{{ entry.startLunch | date:'shortTime' }}</h1>
      </ion-col>
      <ion-col sizeXs="12" style="text-align: center;">
        <ion-label>Término Colación</ion-label>
        <h1>{{ entry.endLunch | date:'shortTime' }}</h1>
      </ion-col>
      <ion-col sizeXs="12" style="text-align: center;">
        <ion-label>Término Turno</ion-label>
        <h1>{{ entry.end | date:'shortTime' }}</h1>
      </ion-col>
      <ion-col sizeXs="12">
        <ion-button expand="block" (click)="onTick()" color="secondary" [disabled]="entryComplete"> Marcar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
